<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TennisLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TennisLibrary.Properties.Settings>
            <setting name="ScoresSource" serializeAs="String">
                <value>http://www.livexscores.com/allt.php?p={0}&amp;ckie=jazyk=en; __utma=239301278.1203238766.1252198831.1253598256.1253600349.4; __utmz=239301278.1252198831.1.1.utmccn=(direct)|utmcsr=(direct)|utmcmd=(none); __utmc=239301278; sound=off%2A; __utmb=239301278&amp;sid=0.242</value>
            </setting>
        </TennisLibrary.Properties.Settings>
    </applicationSettings>
</configuration>